<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snscard.web.mapper.UserMapper">
    <select id="queryUsers" resultType="com.snscard.web.pojo.Users">
        select * from users where name=#{name}
    </select>

    <insert id="addUser" parameterType="string">
        insert into users values(#{name},#{password})
    </insert>
    <delete id="deleteUser" parameterType="string">
        delete from users where name=#{name}
    </delete>
    <update id="updateUser" parameterType="com.snscard.web.pojo.Users">
        update users set password=#{password} where name=#{name}
    </update>
    <select id="getSalt" resultType="String">
            select salt from pass_hash_salt where name=#{name}
    </select>
    <insert id="setSalt" parameterType="String">
        insert into pass_hash_salt values(#{name},#{salt})
    </insert>
    <select id="queryUsersPath" resultType="com.snscard.web.pojo.Users_Path">
        select * from pass_hash_salt where name=#{name};
    </select>
</mapper>