<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add information</title>
    <style>
        div{
            width: 500px;

        }
        label{
            display: block;
            text-align: right;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div>
    <form action="info/addInfo">
        <label>이름:<input type="text" name="username" id="username"></label>
        <label>영어이름:<input type="text" name="name_us" id="name_us"></label>
        <label>tel:<input type="text" name="tel" id="tel"></label>
        <label>주소:<input type="text" name="address" id="address"></label>
        <label>직업:<input type="text" name="vocation" id="vocation"></label>
        <label>회사:<input type="text" name="company" id="company"></label>
        <label>메일:<input type="text" name="email" id="email"></label>
        <label>소개:<textarea cols="30" rows="5" name="introduction" id="introduction"></textarea></label>
        <label><input type="submit">click!!!</label>
    </form>
</div>

</body>
</html>