<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>question</title>
</head>
<body>
<form action="/info/addAnswer">
    <span>q1<label style="color: red">*</label></span>
    <label>
        <input type="text" placeholder="q1">
    </label>
    <br>
    <br>
    <br>
    <span>q2<label style="color: red">*</label></span>
    <label>
        <input type="text" placeholder="q2">
    </label>
    <br>
    <br>
    <br>
    <span>q3<label style="color: red">*</label></span>
    <label>
        <input type="text" placeholder="q3">
    </label>
    <br>
    <br>
    <br>
    <span>q4<label style="color: red">*</label></span>
    <label>
        <input type="text" placeholder="q4">
    </label>
    <br>
    <br>
    <br>
    <span>q5<label style="color: red">*</label></span>
    <label>
        <input type="text" placeholder="q5">
    </label>
    <br>
    <br>
    <br>
    <input type="submit" value="확인">
</form>
</body>
</html>